.gold-text {
  font-weight: 800 !important;
  background: -webkit-linear-gradient(90deg, rgba(251, 245, 174, 1) 0%, rgba(0, 128, 55) 30%, rgba(236, 231, 110, 1) 60%, rgba(0, 128, 55) 70%, rgba(236, 231, 110, 1) 100%) !important;
  background: linear-gradient(90deg, rgba(251, 245, 174, 1) 0%, rgba(0, 128, 55) 30%, rgba(236, 231, 110, 1) 60%, rgba(0, 128, 55) 70%, rgba(236, 231, 110, 1) 100%) !important;
  padding-top: 10px;
  color: #000 !important;
  border-radius: 6px !important;
}

.carousel-caption .hero-action a {
  width: auto !important;
  padding: 0 25px !important;
}