@font-face {
  font-family: bronova;
  src: local('Bronova Bold'), local('Bronova-Bold'), url(eot/Bronova_Bold.eot) format('embedded-opentype'), url(woff/Bronova_Bold.woff) format('woff'), url(ttf/Bronova_Bold.ttf) format('truetype');
  font-style: normal
}

@font-face {
  font-family: bronova;
  src: local('Bronova Regular'), local('Bronova-Regular'), url(eot/Bronova_Regular.eot) format('embedded-opentype'), url(woff/Bronova_Regular.woff) format('woff'), url(ttf/Bronova_Regular.ttf) format('truetype');
  font-style: normal
}